---
import "@splidejs/splide/css";
import "/node_modules/sal.js/dist/sal.css";

// or only core styles
import "@splidejs/splide/css/core";
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import PriceCard from "../components/PriceCard.astro";
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";

const siteData = await Astro.glob("./posts/index.md");

const {
  title,
  subtitle,
  paslauga1Title,
  paslauga2Title,
  paslauga3Title,
  paslauga1Info,
  paslauga2Info,
  paslauga3Info,
  price2Weeks,
  price3Months,
  price1Month,
  atsiliepimai,
  statistika,
  winnings,
} = siteData[0].frontmatter;

const currentYear = new Date().getFullYear();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<script>
  import Splide from "@splidejs/splide";
  import querystring from "querystring";
  import Buffer from "buffer";
  import md5 from "md5";

  import sal from "sal.js";
  import {
    disableBodyScroll,
    enableBodyScroll,
    clearAllBodyScrollLocks,
  } from "body-scroll-lock";

  document.querySelectorAll(".splide").forEach((carousel: any, index) =>
    new Splide(carousel, {
      perPage: index === 0 || index === 2 ? 3 : 1,
      lazyLoad: "nearby",
      type: "loop",
      interval: 5000,
      autoplay: true,
      breakpoints: {
        768: {
          perPage: 1,
        },
      },
    }).mount()
  );

  sal({
    threshold: 0.2,
    once: true,
    root: null,
  });

  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });

      document.querySelector("#checkbox").checked = false;
      clearAllBodyScrollLocks();
    });
  });

  document
    .querySelectorAll("#checkbox")[0]
    .addEventListener("change", function () {
      console.log(this.checked);
      if (this.checked) {
        disableBodyScroll(document.querySelector("body"));
      } else {
        clearAllBodyScrollLocks();
      }
    });

  setTimeout(function () {
    let S = document.createElement("script");
    S.type = "text/javascript";

    S.src = "https://code.tidio.co/8qndyl9q0e2bzlwizig77fqlv8y8uw7j.js";

    try {
      document.getElementsByTagName("HEAD")[0].appendChild(S);
    } catch (e) {
      alert(e);
    }
  }, 3000);

  class WebToPay {
    defaultConfig = {};
    payUrl = "https://www.paysera.com/pay/";
    xmlUrl = "https://www.paysera.com/new/api/paymentMethods/";
    key = "http://downloads.paysera.com/download/public.key";
    version = "1.6";

    constructor(config) {
      this.defaultConfig = config || {};
    }

    buildRequestUrl(params) {
      var requestParams = this.mergeParams(params);
      var encodedParams = this.encode(requestParams);
      var signature = this.sign(encodedParams);

      return this.createUrl(encodedParams, signature);
    }

    checkCallback(request) {
      var ss1 = this.sign(request.data);
      return request.ss1 == ss1;
    }

    // For internal usage

    mergeParams(params) {
      var requestParams = JSON.parse(JSON.stringify(this.defaultConfig));
      delete requestParams.sign_password;
      for (var key in params) {
        requestParams[key] = params[key];
      }

      return requestParams;
    }

    encode(params) {
      var rawUrl = querystring.stringify(params);
      var encodedUrl = rawUrl.toString("base64");
      var uglyfiedUrl = encodedUrl.replace("/", "_").replace("+", "-");

      return encodedUrl;
    }

    decode(encodedData) {
      var prettyfiedEncodedData = encodedData
        .replace("_", "/")
        .replace("-", "+");
      var decodedUrl = new Buffer(prettyfiedEncodedData, "base64").toString(
        "ascii"
      );
      var params = querystring.parse(decodedUrl);

      return params;
    }

    sign(data) {
      return md5(data + this.sign_password);
    }

    createUrl(data, sign) {
      return this.payUrl + "?data=" + data + "&sign=" + sign;
    }
  }

  const makeRequest = async () => {
    const webToPay = new WebToPay({
      projectid: "226737",
      sign_password: "Labasrytas123**",
    });

    const url = webToPay.buildRequestUrl({
      orderid: 123,
      accepturl: "https://www.example.com/accept",
      cancelurl: "https://www.example.com/accept",
      callbackurl: "https://www.example.com/accept",
      version: 9,
      test: 1,
    });

    console.log(url);

    const rawResponse = await fetch(url, {
      method: "GET",
      headers: {
        Accept: "application/json",
        "Access-Control-Allow-Origin": "*",
        "Content-Type": "application/json",
      },
      mode: "no-cors",
    });

    const content = await rawResponse.json();
  };

  window.addEventListener("load", function () {
    window.document.getElementById("69.99€").addEventListener("click", () => {
      makeRequest();
    });
  });
</script>

<Layout>
  <section class="hero h-full relative">
    <div
      class="container h-screen mx-auto hero-content text-center z-10 flex flex-col justify-center items-center"
    >
      <h1
        data-sal="slide-up"
        data-sal-delay="100"
        class="max-w-[86.4rem] mb-24 md:mb-32 text-h1 md:text-h1"
      >
        {title}
      </h1>
      <p
        data-sal="slide-up"
        data-sal-delay="200"
        class="max-w-[65.6rem] mb-40 text-medium"
      >
        {subtitle}
      </p>
      <Button salDelay={"300"} href="#narystes" text="Įsigyti narystę" />
    </div>
    <div class="hero-scroll">
      <img
        class="mouse-animation"
        src="/assets/media/mouse.svg"
        alt="mouse"
        width="32"
        height="32"
        class="w-[3.2rem]"
      />
    </div>
  </section>
  <div id="paslaugos" class="mx-auto container pt-24 md:pt-96 md:pb-72 pb-56">
    <h2
      class="text-center text-h2 md:h2 mb-48 md:mb-80"
      data-sal="slide-up"
      data-sal-delay="200"
    >
      Paslaugos
    </h2>
    <div class="flex flex-wrap justify-center gap-48 md:gap-64">
      <div class="text-center max-w-[35.2rem] md:w-1/3">
        <img
          class="w-[4rem] mb-16 ml-auto mr-auto"
          src="/assets/media/analyses-icon.svg"
          width="40"
          height="40"
          alt="analyses-icon"
          data-sal="slide-up"
          data-sal-delay="200"
        />
        <h3
          data-sal="slide-up"
          data-sal-delay="200"
          class="text-h3 mb-16"
          class="text-h3"
        >
          {paslauga1Title}
        </h3>
        <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
          {paslauga1Info}
        </p>
      </div>
      <div class="text-center max-w-[35.2rem] md:w-1/3">
        <img
          class="w-[4rem] mb-16 ml-auto mr-auto"
          src="/assets/media/money-icon.svg"
          alt="money-icon"
          width="40"
          height="40"
          data-sal="slide-up"
          data-sal-delay="200"
        />
        <h3
          data-sal="slide-up"
          data-sal-delay="200"
          class="text-h3 mb-16"
          class="text-h3"
        >
          {paslauga2Title}
        </h3>
        <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
          {paslauga2Info}
        </p>
      </div>
      <div class="text-center max-w-[35.2rem] md:w-1/3">
        <img
          class="w-[4rem] mb-16 ml-auto mr-auto"
          src="/assets/media/info-icon.svg"
          alt="info-icon"
          width="40"
          height="40"
          data-sal="slide-up"
          data-sal-delay="200"
        />
        <h3
          class="text-h3 mb-16"
          data-sal="slide-up"
          data-sal-delay="200"
          class="text-h3"
        >
          {paslauga3Title}
        </h3>
        <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
          {paslauga3Info}
        </p>
      </div>
    </div>
  </div>
  <div id="narystes" class="container mx-auto md:96 md:pb-80 py-56">
    <h2
      class="text-center text-h2 mb-48 md:mb-100"
      data-sal="slide-up"
      data-sal-delay="200"
    >
      Narystės
    </h2>
    <div class="pricing-grid">
      <PriceCard time="2 Savaitės" price={price2Weeks} />
      <PriceCard isMostPopular={true} time="3 Mėnesiai" price={price3Months} />
      <PriceCard time="1 Mėnesis" price={price1Month} />
    </div>
  </div>

  <div class="container mx-auto md:py-96 py-56" id="atsiliepimai">
    <div
      class="mb-48 md:mb-80 text-h2 text-center"
      data-sal="slide-up"
      data-sal-delay="200"
    >
      Atsiliepimai
    </div>

    <div
      data-sal="slide-up"
      data-sal-delay="200"
      class="splide mx-auto"
      role="group"
      aria-label="Atsiliepimu galerija"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {
            atsiliepimai.map((atsiliepimas, index) => (
              <li class="flex justify-center items-center splide__slide">
                <Picture
                  src={atsiliepimas.atsiliepimaiFoto}
                  class="mx-auto"
                  widths={[400, 800, 1200]}
                  sizes="(max-width: 800px) 100vw, 800px"
                  fit="contain"
                  aspectRatio="1:1"
                  alt={`atsiliepimas-${index + 1}`}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div id="statistika" class="container mx-auto md:py-96 py-56">
    <h2
      class="mb-48 md:mb-80 text-h2 text-center md:mb80"
      data-sal="slide-up"
      data-sal-delay="200"
    >
      Statistika
    </h2>
    <div
      data-sal="slide-up"
      data-sal-delay="200"
      class="splide mx-auto"
      role="group"
      aria-label="Statistikos galerija"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {
            statistika.map((statistika, index) => (
              <li class="flex justify-center items-center splide__slide">
                <Picture
                  src={statistika.statistikosFoto}
                  class="mx-auto"
                  widths={[400, 800, 1200]}
                  sizes="(max-width: 800px) 100vw, 800px"
                  fit="contain"
                  aspectRatio="1:1"
                  alt={`statistika-${index + 1}`}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div id="laimejimai" class="container mx-auto md:py-96 py-56">
    <h2
      class="mb-48 md:mb-80 text-h2 text-center md:mb80"
      data-sal="slide-up"
      data-sal-delay="200"
    >
      Laimėjimai
    </h2>
    <div
      data-sal="slide-up"
      data-sal-delay="200"
      class="splide mx-auto"
      role="group"
      aria-label="Laimejimu galerija"
    >
      <div class="splide__track">
        <ul class="splide__list">
          {
            winnings.map((winning, index) => (
              <li class="flex justify-center items-center splide__slide">
                <Picture
                  src={winning.winningFoto}
                  class="mx-auto"
                  widths={[400, 800, 1200]}
                  sizes="(max-width: 800px) 100vw, 800px"
                  fit="contain"
                  aspectRatio="1:1"
                  alt={`laimejimas-${index + 1}`}
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
  <div class="container md:py-96 py-56 text-center mx-auto">
    <img
      src="/assets/media/tipsters-logo.svg"
      alt="tipsters-logo"
      width="224"
      height="20"
      class="mx-auto lg:max-w-[38.4rem] w-[22.4rem] mb-48 md:mb-80"
    />
    <div class="max-w-[80rem] mx-auto mb-48 md:mb-80">
      <p
        data-sal="slide-up"
        data-sal-delay="200"
        class="mb-24 md:mb-32 text-large"
      >
        Tipsters.It komanda - sporto lažybų ekspertai, kurie yra sukaupę 8 metų
        patirtį būtent šioje lažybų srityje.
      </p>
      <p
        data-sal="slide-up"
        data-sal-delay="200"
        class="mb-24 md:mb-32 text-large"
      >
        Viskas oficialu ir paremta tikra statistika, kuri nuolat bus pildoma.
      </p>
      <p
        data-sal="slide-up"
        data-sal-delay="200"
        class="mb-24 md:mb-32 text-large"
      >
        Pagalba visais klausimais 24/7.
      </p>
      <p
        data-sal="slide-up"
        data-sal-delay="200"
        class="mb-24 md:mb-32 text-large"
      >
        Kviečiame jungtis prie mūsų komandos ir išbandyti tikrų profesionalų
        darbą!
      </p>
    </div>
  </div>
</Layout>
