---
// Component Imports
import "@fontsource/quicksand";
import "@fontsource/montserrat";
// Default theme
import "@splidejs/splide/css";
import "/node_modules/sal.js/dist/sal.css";

// or only core styles
import "@splidejs/splide/css/core";
import BaseHead from "../components/BaseHead.astro";
import Button from "../components/Button.astro";
import PriceCard from "../components/PriceCard.astro";
import { Picture } from "@astrojs/image/components";
import {
  BackgroundImage,
  ImageSupportDetection,
} from "astro-imagetools/components";

const siteData = await Astro.glob("./posts/index.md");

const {
  title,
  subtitle,
  paslauga1Title,
  paslauga2Title,
  paslauga3Title,
  paslauga1Info,
  paslauga2Info,
  paslauga3Info,
  atsiliepimai,
  statistika,
} = siteData[0].frontmatter;

const currentYear = new Date().getFullYear();

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<script>
  import Splide from "@splidejs/splide";
  import sal from "sal.js";

  document.querySelectorAll(".splide").forEach((carousel: any, index) =>
    new Splide(carousel, {
      perPage: index === 0 ? 3 : 1,
      lazyLoad: "nearby",
      type: "loop",
      interval: 5000,
      autoplay: true,
      breakpoints: {
        768: {
          perPage: 1,
        },
      },
    }).mount()
  );

  sal({
    threshold: 0.2,
    once: true,
    root: null,
  });

  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });

      document.querySelector("#checkbox").checked = false;
    });
  });
</script>

<html lang="en">
  <head>
    <BaseHead />
    <ImageSupportDetection />
  </head>

  <body>
    <main>
      <header class="fixed top-0 left-0 right-0 z-20">
        <div
          class="flex nav-container items-center relative justify-between py-40 container"
        >
          <img
            src="/assets/media/tipsters-logo.svg"
            class="lg:max-w-[24.5rem] max-w-[16rem] w-full z-10"
            alt="tipsters"
            data-sal="slide-up"
            data-sal-delay="100"
          />

          <nav
            data-sal="slide-up"
            data-sal-delay="100"
            class="lg:flex gap-64 hidden lg:visible"
          >
            <a
              data-sal="slide-up"
              data-sal-delay="100"
              class="text-medium"
              href="#paslaugos">Paslaugos</a
            >
            <a
              data-sal="slide-up"
              data-sal-delay="200"
              class="text-medium"
              href="#narystes">Narystės</a
            >
            <a
              data-sal="slide-up"
              data-sal-delay="300"
              class="text-medium"
              href="#atsiliepimai">Atsiliepimai</a
            >
            <a
              data-sal="slide-up"
              data-sal-delay="400"
              class="text-medium"
              href="#statistika">Statistika</a
            >
            <a
              data-sal="slide-up"
              data-sal-delay="500"
              class="text-medium"
              href="#kontaktai">Kontaktai</a
            >
          </nav>

          <label for="checkbox" class="absolute hidden">Mobile menu</label>
          <input
            class="checkbox right-0"
            type="checkbox"
            name=""
            id="checkbox"
          />
          <div class="hamburger-lines relative">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>

          <div class="menu-items">
            <div class="flex flex-col gap-64">
              <a class="text-nav-mobile" href="#paslaugos">Paslaugos</a>
              <a class="text-nav-mobile" href="#narystes">Narystės</a>
              <a class="text-nav-mobile" href="#atsiliepimai">Atsiliepimai</a>
              <a class="text-nav-mobile" href="#statistika">Statistika</a>
              <a class="text-nav-mobile" href="#kontaktai">Kontaktai</a>
            </div>
            <div class="flex mb-32 mt-auto items-center justify-center">
              <a href="https://t.me/TipstersLt" target="_blank">
                <img
                  class="mr-48"
                  alt="telegram-icon"
                  src="/assets/media/telegram-icon.svg"
                />
              </a>
              <a href="https://www.instagram.com/tipsters.lt/" target="_blank">
                <img
                  src="/assets/media/instagram-icon.svg"
                  alt="instagram-icon"
                />
              </a>
            </div>
          </div>
        </div>
      </header>
    </main>
    <BackgroundImage
      attributes={{
        link: {
          fetchpriority: "high",
        },
      }}
      format={["jpeg", "webp"]}
      formatOptions={{
        jpeg: {
          quality: 85,
        },
        webp: {
          quality: 85,
        },
      }}
      src="/assets/media/hero-background.png"
    >
      <div
        class="container h-screen mx-auto hero-content text-center h-full z-10 relative flex flex-col justify-center items-center"
      >
        <h1
          data-sal="slide-up"
          data-sal-delay="100"
          class="max-w-[86.4rem] mb-24 md:mb-32 text-h1 md:text-h1"
        >
          {title}
        </h1>
        <p
          data-sal="slide-up"
          data-sal-delay="200"
          class="max-w-[65.6rem] mb-40 text-medium"
        >
          {subtitle}
        </p>
        <Button salDelay={"300"} href="#narystes" text="Įsigyti narystę" />
      </div>
      <div class="hero-scroll">
        <img
          class="mouse-animation"
          src="/assets/media/mouse.svg"
          alt="mouse"
          class="w-[3.2rem]"
        />
      </div>
    </BackgroundImage>
    <div id="paslaugos" class="mx-auto container pt-24 md:pt-96 md:pb-72 pb-56">
      <h2
        class="text-center text-h2 md:h2 mb-48 md:mb-80"
        data-sal="slide-up"
        data-sal-delay="200"
      >
        Paslaugos
      </h2>
      <div class="flex flex-wrap justify-center gap-48 md:gap-64">
        <div class="text-center max-w-[35.2rem] md:w-1/3">
          <img
            class="w-[4rem] mb-16 ml-auto mr-auto"
            src="/assets/media/analyses-icon.svg"
            alt="analyses-icon"
            data-sal="slide-up"
            data-sal-delay="200"
          />
          <h3
            data-sal="slide-up"
            data-sal-delay="200"
            class="text-h3 mb-16"
            class="text-h3"
          >
            {paslauga1Title}
          </h3>
          <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
            {paslauga1Info}
          </p>
        </div>
        <div class="text-center max-w-[35.2rem] md:w-1/3">
          <img
            class="w-[4rem] mb-16 ml-auto mr-auto"
            src="/assets/media/money-icon.svg"
            alt="money-icon"
            data-sal="slide-up"
            data-sal-delay="200"
          />
          <h3
            data-sal="slide-up"
            data-sal-delay="200"
            class="text-h3 mb-16"
            class="text-h3"
          >
            {paslauga2Title}
          </h3>
          <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
            {paslauga2Info}
          </p>
        </div>
        <div class="text-center max-w-[35.2rem] md:w-1/3">
          <img
            class="w-[4rem] mb-16 ml-auto mr-auto"
            src="/assets/media/info-icon.svg"
            alt="info-icon"
            data-sal="slide-up"
            data-sal-delay="200"
          />
          <h3
            class="text-h3 mb-16"
            data-sal="slide-up"
            data-sal-delay="200"
            class="text-h3"
          >
            {paslauga3Title}
          </h3>
          <p data-sal="slide-up" data-sal-delay="200" class="text-medium">
            {paslauga3Info}
          </p>
        </div>
      </div>
    </div>
    <div id="narystes" class="container mx-auto md:96 md:pb-80 py-56">
      <h2
        class="text-center text-h2 mb-48 md:mb-100"
        data-sal="slide-up"
        data-sal-delay="200"
      >
        Narystės
      </h2>
      <div class="pricing-grid">
        <PriceCard time="2 Savaitės" price="69.99€" />
        <PriceCard isMostPopular={true} time="3 Mėnesiai" price="249.99€" />
        <PriceCard time="1 Mėnesis" price="119.99€" />
      </div>
    </div>

    <div class="container mx-auto md:py-96 py-56" id="atsiliepimai">
      <div
        class="mb-48 md:mb-80 text-h2 text-center md:mb80"
        data-sal="slide-up"
        data-sal-delay="200"
      >
        Atsiliepimai
      </div>

      <div
        data-sal="slide-up"
        data-sal-delay="200"
        class="splide mx-auto"
        role="group"
        aria-label="Splide Basic HTML Example"
      >
        <div class="splide__track">
          <ul class="splide__list">
            {
              atsiliepimai.map((atsiliepimas, index) => (
                <li class="flex items-center splide__slide">
                  <Picture
                    src={atsiliepimas.atsiliepimaiFoto}
                    class="mx-auto"
                    widths={[400, 800, 1200]}
                    sizes="(max-width: 800px) 100vw, 800px"
                    fit="contain"
                    aspectRatio="1:1"
                    alt={`atsiliepimas-${index + 1}`}
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div id="statistika" class="container mx-auto md:py-96 py-56">
      <h2
        class="text-h2 text-center md:mb80"
        data-sal="slide-up"
        data-sal-delay="200"
      >
        Statistika
      </h2>
      <div
        data-sal="slide-up"
        data-sal-delay="200"
        class="splide mx-auto"
        role="group"
        aria-label="Splide Basic HTML Example"
      >
        <div class="splide__track">
          <ul class="splide__list">
            {
              statistika.map((statistika, index) => (
                <li class="flex items-center splide__slide">
                  <Picture
                    src={statistika.statistikosFoto}
                    class="mx-auto"
                    widths={[400, 800, 1200]}
                    sizes="(max-width: 800px) 100vw, 800px"
                    fit="contain"
                    aspectRatio="1:1"
                    alt={`statistika-${index + 1}`}
                  />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="container md:py-96 py-56 text-center mx-auto">
      <img
        src="/assets/media/tipsters-logo.svg"
        alt="tipsters-logo"
        class="mx-auto lg:max-w-[38.4rem] w-[22.4rem] mb-48 md:mb-80"
      />
      <div class="max-w-[80rem] mx-auto mb-48 md:mb-80">
        <p
          data-sal="slide-up"
          data-sal-delay="200"
          class="mb-24 md:mb-32 text-large"
        >
          Tipsters.It komanda - krepšinio bei teniso ekspertai, kurie yra
          sukaupę 8 metų patirtį būtent šioje lažybų srityje.
        </p>
        <p
          data-sal="slide-up"
          data-sal-delay="200"
          class="mb-24 md:mb-32 text-large"
        >
          Viskas oficialu ir paremta tikra statistika, kuri nuolat bus pildoma.
        </p>
        <p
          data-sal="slide-up"
          data-sal-delay="200"
          class="mb-24 md:mb-32 text-large"
        >
          Pagalba visais klausimais 24/7.
        </p>
        <p
          data-sal="slide-up"
          data-sal-delay="200"
          class="mb-24 md:mb-32 text-large"
        >
          Kviečiame jungtis prie mūsų komandos ir išbandyti tikrų profesionalų
          darbą!
        </p>
      </div>
      <div
        class="lg:w-full w-max mx-auto lg:flex-row flex-col items-start gap-32 flex lg:flex flex-wrap justify-around"
        id="kontaktai"
        data-sal="slide-up"
        data-sal-delay="200"
      >
        <a
          href="https://t.me/TipstersLt"
          target="_blank"
          class="flex items-center"
        >
          <img
            class="mr-12"
            src="/assets/media/telegram-icon.svg"
            alt="telegram-icon"
          />
          <span class="text-medium-large">Telegram grupė</span>
        </a>
        <!-- <div class="flex items-center">
          <img alt="email-icon" class="mr-12" src="/assets/media/email-icon.svg"
          ></img>
          <span class="text-medium-large">pagalba@tipsters.lt</span>
        </div> -->
        <a
          href="https://www.instagram.com/tipsters.lt/"
          target="_blank"
          class="flex items-center"
        >
          <img
            alt="instagram-icon"
            class="mr-12"
            src="/assets/media/instagram-icon.svg"
          />
          <span class="text-medium-large">Instagram</span>
        </a>
      </div>
    </div>
    <div class="container mx-auto text-center text-[1.2rem] py-[1.2rem]">
      © {currentYear} Tipsters.lt. Visos teisės saugomos.
    </div>
  </body>
</html>
