---
import Button from "./Button.astro";

export interface Props {
  time?: any;
  subtext?: any;
  price?: any;
  isMostPopular?: boolean;
  planDescriptions?: any;
}

const { price, time, isMostPopular, subtext, planDescriptions } = Astro.props;

const realPrice = price.replace("€", "").replace(".", "");
let redirectUrl = "";

const response = await fetch(
  "https://tipsters.lt/.netlify/functions/getPaymentUrl",
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      amount: realPrice,
    }),
  }
);

const data = await response.json();

if (data.redirectUrl) {
  redirectUrl = data.redirectUrl;
}
---

<style>
  .line {
    color: #eee;
  }

  .border-gray {
    border: 1px solid #eee;
  }
</style>

<div
  class:list={[
    "border-gray-100 border rounded-[4rem]",
    {
      "p-32 h-fit mt-auto": !isMostPopular,
      "relative lg:bottom-[3.2rem]": isMostPopular,
    },
  ]}
  data-sal="slide-up"
  data-sal-delay="200"
>
  {
    isMostPopular && (
      <p class="bg-red-100 rounded-t-[4rem] uppercase text-[1.8rem] py-16 text-center border-b-[1px] border-gray-100">
        Populiariausias
      </p>
    )
  }
  <div
    class:list={{
      "pt-16 px-32 pb-32": isMostPopular,
    }}
  >
    <p class="text-large mb-8">{time}</p>
    <h2 class="text-h2" id="discount-price">{price}</h2>
    <p class="text-medium">VIP narystė</p>
    <div class="line mb-24 h-[0.5px]"></div>
    {
      planDescriptions.map(({ planDescription }) => (
        <div class="flex items-center mb-16">
          <img
            src="/assets/media/checkmark.png"
            alt="checkmark"
            width="22"
            height="15"
            class="inline mr-16"
          />
          <p class="text-medium">{planDescription}</p>
        </div>
      ))
    }
    <p class="text-medium mb-64">
      {subtext}
    </p>
    <Button
      id={price}
      href={redirectUrl}
      classList="w-full"
      isEmpty={!isMostPopular}
      text="Įsigyti narystę"
    />
  </div>
</div>
